# Site settings
title: RennSport Engineering
baseurl: ""
url: "http://rennsportengineering.com"
author: Simon van der Veldt
permalink: /:title
include: ["_pages"]
exclude: ["vendor"]

# Build settings
theme: null
markdown: kramdown
highlighter: rouge
sass:
  style: :compressed

defaults:
  -
    scope:
      path: ""
      type: "drafts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page
