---
---

@import "colors";

body {
	background: $background;
    color: $foreground;
	font: 62.5% Lucida Grande, Arial, sans-serif;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 272px;
    margin: -86px 0 0 -136px;
    font-size: 1.4em;
}

#top {
    margin: auto;
}

#name {
    margin: auto;
    text-align: center;
}


@media screen and (max-width: 480px) {
#name h1 span {
    display: block;
}
}
