<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if page.id %} - {{ page.title }}{% endif %}</title>
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    {% if page.css %}<link href="/assets/css/{{ page.css }}" rel="stylesheet" type="text/css"/>{% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  </head>

  <body>
    <main id="wrapper">
      <div id="top">
        <img src="/assets/img/logo.svg" alt="RennSport Engineering logo" width=283 height=100 fetchpriority="high">
        <div id="name"><h1>RennSport <span><wbr> Engineering</span></h1></div>
      </div>
    </main>
  </body>
</html>
