<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.title }}{% if page.id %} - {{ page.title }}{% endif %}</title>
    <link href="https://plus.google.com/100739856147735932449" rel="author" />
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    {% if page.css %}<link href="/assets/css/{{ page.css }}" rel="stylesheet" type="text/css"/>{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300italic,300" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
    <link href="https://plus.google.com/100739856147735932449" rel="publisher">
  </head>
  
  <body>
    <div id="wrapper">
      <div id="top">
        <img src="/assets/img/rennsportengineering-logo.svg">
        <div id="name"><h1>RennSport <span><wbr> Engineering</span></h1></div>
      </div>
    </div>
  </body>
</html>